<h2 class="centered" style="font-size: 24pt; margin: 1em 0em 1em 0em">
  <%="Search results for listings in #{params[:search][:city]} from #{params[:search][:start_date].to_date} to #{params[:search][:end_date].to_date}"%>
</h2>

<%= render partial: "/listings/listing_card_profile", locals: {listings: @listings}%>