<% if (signed_in?) %>
	<div class="container w-50 p-2 my-5">
		<div class="row listing-form-border" id="listing-form-header">
			<div class="col">
				<h1>New Listing Form</h1>
			</div>
		</div>
		
		<div class="row listing-form-border" id="listing-form-body">
			<div class="col">
				<%= render 'form', listing: @listing %>		
			</div>
		</div>
		


	</div> <br />
<% else %>
	<h1 class="centered">You do not have permission to access this page</h1>
<% end %>