<div class="container centered mt-2 w-50">
  <%if (@bookings.length != 0) %>
  
    <%if (current_user.id == @bookings.first.user.id) %>

        <h2><%="Bookings for #{@user.full_name}"%></h2>
        <hr />


        <%@bookings.order(start_date: :desc).each do |booking| %>
            <div class="row">


              <div class="col text-right">
                <a href="/bookings/<%=booking.id%>"> 
                  <h6>
                    <%="#{booking.listing.name}, from #{booking.start_date.to_date} to #{booking.end_date.to_date}"%>
                  </h6>
                </a>
              </div>

              <div class="col-5 text-left"><h6><%=booking.payment_status%></h6></div>
            </div>
        <% end %>

    <% else %>
      <h2>No bookings here!</h2>
    <% end %>

  <% else %>
    <h2>No bookings here!</h2>
  <% end %>

</div>