<div class="container centered mt-5" style="display: flex">
	<div class="row">
		<div class="col-2"></div>
		<div class="col-6 centered booking-form-container">
			<h2>New Booking for <%=@listing.name%></h2>

			<%= render 'form', locals: {booking: @booking, listing: @listing} %>
		</div>

		<div class="col-4 centered booking-form-container">
			<h6 style="text-decoration: underline">This listing has already been booked for the following dates:</h6>

			<div class="row">
				<div class="col">From</div>
				<div class="col">To</div>
			</div>

			<% @listing.bookings.order(start_date: :desc).each do |booking| %>
				<div class="row">
					<div class="col"><%=booking.start_date.to_date%></div>
					<div class="col"><%=booking.end_date.to_date%></div>
				</div>
			<% end %>

		</div>
		
	</div>
</div>