<%= form_for :user, url: update_user_path, method: :patch do |f| %>

	<div>
		<%= f.label :email, "New Email Address" %>
		<%= f.text_field :email %>
	</div>

	Avatar shit goes here later


	<br /><%= f.submit "Save Changes"%>
<% end %>