<div class="clearance-box centered">
	<br />
	<h2 class="centered"><%=@user.full_name%></h2>
	<hr />

	<%= render 'form', user: @user %>

	<hr />
	<%= link_to 'Back to Profile', user_path(@user.id) %>
</div>