<h1 class="centered"><%=@user.full_name%>'s Guests</h1>

<% if(@user_all_listings != nil) %>
	<% @user_all_listings.each do |listing| %>

		<% related_bookings = Booking.where(listing_id: listing.id).where("start_date > ?", Date.yesterday) %>

		<% related_bookings.each do |booking| %>
			<%= render partial: "/users/guest_card", locals: {booking: booking} %>
		<% end %>

	<% end %>
<% else %>
	<h2 class="centered">Nothing here!</h2>
<% end %>