/*The listing box*/
.profile-listing-box 	{
	padding: 1em;
	margin: 1em;
	border: 1px gainsboro solid;
	border-radius: 1em;
	background-color: white;
}


.moderator-profile-controls	{
	padding: 1em 0em 1em 0em;
}

.profile-listing-box p, h2 	{
	margin: 0;
}

.profile-listing-box:hover	{
	background-color: gainsboro;
}

.listing-box-header a {
	text-decoration: none;
	color: red;

	&:hover 	{
		text-decoration: underline;
	}
}


/*Listing Page*/
.row-buddies 	{
	display: inline-block;
}


#listing-banner 	{
	width: 100%;
}

#listing-stats-box	{
	padding: 1em 0em 0em 0em;
	width: 35em;
	height: 30em;
	color: white;
	background-color: #636363;
}

#listing-name 	{
	text-align: center;
	font-size: 24pt;
	padding-bottom: 0;
	margin-bottom: 0;
}

#listing-main-img	{
	vertical-align: top;
}


#listing-detail-container	{
	/*padding: 3em 15em 3em 0em;*/
	text-align: center;
}


#listing-logo-description-container {
	text-align: left;
}

#listing-description	{
	margin: 0;
	background-color: red;
	padding: 3em 0em 3em 0em;
}

#listing-user-logo-container	{
	text-align: center;
	width: 35em;
	color: white;
	padding: 2em 0em 2em 0em;
	line-height: 1em;
	background-color: #636363;
}

#listing-user-logo-container a 	{
	text-decoration: none;
	color: white;

	&:hover {
		text-decoration: underline;
	}
}

#listing-user-logo 	{
	width: 8em;
	height: 8em;
	border: 5px orange solid;
	border-radius: 15em;
}


#listing-images 	{
	height: 10em;
}

.listing-listing-box 	{
	vertical-align: top;
	width: 15em;
	height: 15em;
	padding: 1em 1em 0em 1em;
	margin: 1em;
	border: 1px gainsboro solid;
	border-radius: 1em;
	background-color: white;

	&:hover {
		background-color: gainsboro;
	}
}


/*Listing Page Controls*/
#listing-banner ul li a 	{
	text-decoration: none;
	color: white;

	&:hover {
		text-decoration: underline;
	}
}


/*New listing form*/
.new-listing-form-container 	{
	font-weight: bold;
	width: 50em;
	margin: auto;
	margin-top: 10em;
	padding: 0em 1em 2em 2em;
	border: 1px black solid;
	border-radius: 1em;
	line-height: 2em;
}

.listing-form-unhighlighted 	{
	font-weight: normal;
}