/*Signup Form*/


#upload-avatar-label 	{
	font-size: 14pt;
	/*text-decoration: underline;*/
	line-height: 16pt;
	padding-bottom: 1em;
}

/*Sign in form*/
#signin-form 	{
	padding: 2em;
}


/*Profile page*/
.profile-page-avatar 	{
	width: 15em;
	height: 15em;
	border: 5px orange solid;
	border-radius: 15em;
}


/*The table that holds all the profile bits*/
.profile-details	{
	padding: 2em;
	width: 100%;
	height: 100%;
}

.profile-details td	{
	vertical-align: top;
}

.profile-details-left 	{
	width: 20em;
	border-right: 1px gainsboro solid;
}

.profile-details ul li a 	{
	text-decoration: none;
	color: black;

	&:hover {
		text-decoration: underline;
	}
}