/*Welcome box contains the search forms and the random listing display*/
#welcome	{
	background-image: url("sky-background.jpg");
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Random listing display*/
#random-listing-display 	{
	color: white;
	background-color: rgba(0,0,0,0.65)
}

#random-listing-display h1 	{
	margin: 0;
	padding: 0;
}

#random-listing-display p 	{
	line-height: 24pt;
	font-size: 24pt;
}

#random-listing-display a 	{
	text-decoration: none;
	color: orange;

	&:hover 	{
		text-decoration: underline;
	}
}

#random-listing-tags 	{
	font-size: 14pt; 
	line-height: 2em;
	margin: 0;
	padding: 0;
	font-style: italic;
}

#random-listing-tags li{
	display: inline;
}

#random-listing-stats 	{
	font-size: 14pt;
	line-height: 22pt;
}


/*Search form styling*/
#search-form-box	{
	border: 1px solid gainsboro;
	background-color: white;
}

#search-form-box tr td:first-child 	{
	font-weight: bold;
	text-align: right;
}

#search-form-box label	{
	font-weight: normal;
	text-align: center;
}


/*Checkboxes that change their labels when selected*/
.hidden-checkbox 	{
	display:none;
}


.label-for-check	{
	font-size: 16pt;
}

.label-for-check-smoking 	{
	font-size: 16pt;
	padding: 1em 0 1em 0;
	border: 1px red solid;
	border-radius: 0.5em;
}

.hidden-checkbox:checked + .label-for-check {
  color: green;
}

.hidden-checkbox:checked + .label-for-check-smoking {
  background-color: red;
  color:red;
}